<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds may talk to the dev server over plain HTTP (emulator/LAN). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m" />

</manifest>
